<div class="bg-green-300 w-full h-full flex items-center">
  <div class="ml-auto mr-auto w-[320px] rounded-[20px] bg-white p-4 pb-10">
    <img
      class="rounded-[20px]"
      src="../../../assets/images/image-qr-code.png"
      alt=""
    />

    <div class="mt-6 space-y-4 text-center">
      <h1 class="font-bold text-[22px]">
        Improve your front-end skills by building projects
      </h1>
      <p>
        Scan the QR code to visit Frontend Mentor and take your coding skills to
        the next level
      </p>
    </div>
  </div>
</div>
